/* ================================= 
  WEB FONTS
==================================== */

@import url('https://fonts.googleapis.com/css?family=Rokkitt');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700"');


/* ================================= 
  Helpers CSS
==================================== */

.center, .center-column, .top, .right, .bottom, .left {
  display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.logo {
  align-self: center;
}

.u-m-0 { margin: 0px;}
.u-p-0 { padding: 0px;}

.u-m-10 { margin: 10px;}
.u-p-10 { padding: 10px;}
.u-m-t-10 { margin-top: 10px;}
.u-p-t-10 { padding-top: 10px;}
.u-m-b-10 { margin-bottom: 10px;}
.u-p-b-10 { padding-bottom: 10px;}

.u-m-20 { margin: 20px;}
.u-p-20 { padding: 20px;}
.u-m-t-20 { margin-top: 20px;}
.u-p-t-20 { padding-top: 20px;}
.u-m-b-20 { margin-bottom: 20px;}
.u-p-b-20 { padding-bottom: 20px;}


.u-m-30 { margin: 30px;}
.u-p-30 { padding: 30px;}
.u-m-b-30 { margin-bottom: 30px;}
.u-p-b-30 { padding-bottom: 30px;}
.u-m-t-30 { margin-top: 30px;}
.u-p-t-30 { padding-top: 30px;}

.u-m-50 { margin: 50px;}
.u-p-50 { padding: 50px;}
.u-m-t-50 { margin-top: 50px;}
.u-p-t-50 { padding-top: 50px;}
.u-m-b-50 { margin-bottom: 50px;}
.u-p-b-50 { padding-bottom: 50px;}

.u-m-t-100 { margin-top: 100px;}

/* ================================= 
  Typography
==================================== */

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  padding-bottom: .5em;
  color: rgba(130,31,90,1);
}

h1 {
  font-size: 36px;
  line-height: normal;
    
}
  
h2 {
  font-size: 28px;
  color: rgba(130,31,90,1);
}

h3 {
  font-size: 20px;
  color: rgba(130,31,90,1);
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(15,138,141,1);
}

section p {
  display: block;
  line-height: 1.8em;
  padding-bottom: 1.2em;
 }

.quote {
  font-size: 26px;
  line-height: 1.4em;
  font-weight: 300;
  font-style: italic;
}

  /* ================================= 
  Template Elements
==================================== */

nav {
  box-shadow: -3px 3px 16px -2px #888888;
}

.resource {
  /* border-bottom: 2px solid rgba(15, 138, 141, .6); */
  padding: 24px;
}
.resource:nth-child(even){
  background: linear-gradient(90deg,  rgba(2,0,36,0), rgba(2,0,36,.06) 100%);

}

.footer {
  border-top: 4px solid rgba(130,31,90,1);

  background:#88DBDB;

}

.hrline {
  border: 0;
  border-bottom: 4px solid rgba(130,31,90,1);
}

.clicky {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: .5em .8em;
  Border: 3px solid #444;
  box-shadow: 8px 8px 0 0 #FF00AB;
  transition: .2s;
  color: #222;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none !important;
}

.clicky:hover {
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0);
  background: #FF00AB;
  color: #fff !important;
}

/* background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(130,31,90,1) 35%, rgba(130,31,90,1) 41%, rgba(0,212,255,1) 100%);background: rgb(2,0,36);

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(130,31,90,1) 35%, rgba(130,31,90,1) 41%, rgba(0,212,255,1) 100%); */


/* .card:hover {
  background-color: white;
  border:1px solid #dcdcdc;
  box-shadow: 0 30px 40px -14px rgba(0, 0, 0, 0.25);
  
  overflow: hidden;
} */